streams/copy/text-copy.txt filter=lfs diff=lfs merge=lfs -text
streams/writable_streams/test.txt filter=lfs diff=lfs merge=lfs -text
streams/readable_streams/read_big.txt filter=lfs diff=lfs merge=lfs -text
